.box {
  box-shadow: 0px 0px 4.09px 0px #00000040;
  box-shadow: 0px 0.83px 5.51px 0px #0000005e;
  border-radius: var(--13px);
  padding: var(--26px) var(--18px);
  background-color: #fffffb;
  width: 100%;
}

.sideBox {
  box-shadow: 0px 0px 4.52px 0px #000000d6;
  border-radius: var(--13px);
  padding: var(--14px);
  background-color: #2a2b2a;
  width: 30%;
}
