/* ===== Start Table Container ===== */
.tableContainer {
  overflow: hidden;
  border: 2px solid #dbdbd7;
  border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #fffffb;
  height: 70vh;
  width: 100%;
}

/* ===== Start Table ===== */
.table {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ===== Table Header ===== */
.table_header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: calc(100% - 16px); /* Account for scrollbar width */
  background: #fffffb;
}

.table_header::after {
  /* Border Bottom */
  position: absolute;
  content: "";
  width: calc(100% - 2vw);
  height: 1px;
  background-color: var(--dark);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.table_header li {
  font-size: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
  font-weight: 700;
  padding: clamp(16px, calc(1.1vw + 0.1rem), 1000px) clamp(16px, calc(1.5vw + 0.1rem), 1000px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .table .table_header li svg {
  width: 1vw;
} */

/* ===== Table Body ===== */
.table_body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}

.table_body::-webkit-scrollbar {
  width: 8px;
}

.table_body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table_body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.table_body ul {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Account for scrollbar width */
}

.table_body ul::after {
  /* Border Bottom */
  content: "";
  width: calc(100% - 2vw);
  height: 1px;
  background-color: rgba(42, 43, 42, 0.29);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.table_body ul:last-child::after {
  display: none;
}

.table_body ul:hover {
  background-color: var(--dark);
}

.table_body ul:hover li {
  color: var(--white);
  font-weight: 700;
}

.table_body ul li {
  font-size: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
  font-weight: 400;
  padding: clamp(7px, calc(0.7vw + 0.1rem), 1000px) clamp(10px, calc(1.2vw + 0.1rem), 1000px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.table_body ul li a {
  color: #0066ff;
}

.table_body ul:hover li a {
  color: #5fa85b;
}

.table_body ul li:first-child {
  font-weight: 500;
}

/* .table .table_body ul:hover li svg path {
  fill: var(--white);
} */
