.box {
  box-shadow: 0px 0px 3.34px 0px #000000c9;
  border-radius: var(--13px);
  padding: var(--20px);
  overflow: hidden;
  user-select: none;
}
.waysToTakeBonus {
  padding-top: var(--10px);
}
.waysToTakeBonus p,
.waysToTakeBonus span {
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 100px);
  font-weight: 400;
}
.waysToTakeBonus span {
  color: #828282;
  text-decoration: line-through;
}
.careerSec {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}
.careerSec p {
  color: var(--white);
}
