.floatingChatBox {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}

.chatButton {
  background: var(--dark);
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.chatButton:hover {
  transform: translateY(-2px);
}

.chatContainer {
  width: clamp(100px, 18vw + 1rem, 100rem);
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px 1px rgba(42, 43, 42, 0.25);
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #dbdbd7;
  position: relative;
  height: clamp(20px, 2vw + 1rem, 100rem);
  transition: height 0.2s ease;
}

.chatContainer:not(.hoverDisabled):hover {
  height: clamp(20px, 21.2vw + 10vh + 1rem, 100rem);
}

.chatContainer.open {
  height: clamp(20px, 21.2vw + 10vh + 1rem, 100rem);
}

.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: white;
}

.chatContainer > div:last-child .chatHeader {
  padding: 1rem;
}

.chatHeader h3 {
  font-weight: 600;
  margin: 0;
}

.onlineCount {
  font-size: 0.875rem;
  color: #666;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 0.5rem;
  color: #666;
}

/* .chatList {
  overflow-y: auto;
} */

.chatContainer > div:first-child .chatList {
  height: clamp(20px, 16.2vw + 10vh + 1rem, 100rem);
  overflow-y: auto;
}

.chatContainer > div:last-child .chatList {
  height: clamp(20px, 18vw + 10vh + 1rem, 100rem);
}

.chatItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 23px;
  border-bottom: 1px solid #dbdbd7;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s;
}

.chatItem:hover {
  background-color: var(--dark);
  color: var(--white);
}

.profileImage {
  width: 40px;
  height: 40px;
  background: #2a2b2a;
  border-radius: 38.82px 3.82px 3.82px 3.82px;
}

.chatInfo h4 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chatInfo p {
  margin: 0;
  font-size: 1rem;
  color: #828282;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chatItem:hover .chatInfo p {
  color: var(--white);
}

.viewAllButton {
  display: block;
  text-align: center;
  font-size: var(--12px);
  padding: 0.7rem;
  background: #f5f5f5;
  color: var(--dark);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  border-top: 1px solid #dbdbd7;
}

.viewAllButton:hover {
  background: var(--dark);
  color: var(--white);
}
